node_modules
**/node_modules
.git
.github
.husky
.turbo
.vscode
.next
**/.next
**/dist
coverage
**/coverage
e2e
playwright-report
test-results
*.md
!README.md
.env
.env.*
!**/.env.example
.docs
plan_mejoras_visuales.md
RECURRENCE_*.md
packages/*/src/**/__tests__
packages/*/test
**/*.spec.ts
**/*.test.ts
**/*.test.tsx
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
